<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FBBF57;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Genres</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-auto px-0" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0" *ngFor="let genre of genres; let indexOfelement=index;">
          <li class="nav-item">
            <ul class="navbar-nav ml-auto" style="max-height: 200px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
                      {{genre.name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#" *ngFor="let subgenre of genre.subgenre;">{{subgenre}}</a>
                    </div>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>