<div class="cart-container">
	<!-- <div class="col-lg-9"> -->
		<h1 class="display-4">Shopping Cart</h1>
		<table class="table">

			<tr>
				<!-- <td style="text-align:right">
				<button class="w3-btn w3-ripple" ng-click="">&#9998; Print Cart</button>
			</td> -->

				<td style="text-align:right">
					<button class="w3-btn w3-ripple" ng-click="">&#9998; Print Cart</button>&nbsp;
					<button class="w3-btn w3-ripple" ng-click="">&#9998; Proceed to Secure
						Checkout</button>
				</td>
			</tr>

		</table>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Item</th>
					<th scope="col">Qty</th>
					<th scope="col">Status</th>
					<th scope="col">Price</th>
					<th scope="col">Total</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<!-- <th scope="row">1</th> -->
				</tr>
				<tr ng-repeat="">
					<td></td>
					<td></td>
				</tr>
			</tbody>

			<tbody>
				<tr>
					<!-- <td></td>
			<td></td>
			<td></td> -->
					<!-- <td style="text-align: right"> -->
					<td>
						<button class="w3-btn w3-ripple" ng-click="">&#9998; Proceed to Secure Checkout</button>
					</td>
				</tr>
			</tbody>
		</table>
	<!-- </div> -->
</div>
