input.continue{
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    /* box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset; */
    border-radius: 2px;
    border-color: #a88734 #9c7e31 #a88734 #a88734;
    border-width: thin;
    text-align: center;
    width: 294px;
    text-decoration: none;
    margin: auto;
    box-sizing: border-box;
    min-height: 29px;
    cursor: pointer;
}

input.continue:hover{
    background: linear-gradient(to bottom,#f7dfa5,#e9ba49);

}