<div class="container">
    <div class="py-5 text-center">
      <h2>Checkout</h2>
    </div>
  
    <div class="row">

        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Your cart</span>
              <span class="badge badge-secondary badge-pill">{{num_items()}}</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products;">
                    <div>
                        <h6 class="my-0">{{product.product.title}}</h6>
                        <small class="text-muted">{{product.product.creator}}</small>
                      </div>
                      <span class="text-muted">{{product.product.price | currency}}<span [class.d-none]="product.quantity==1">*{{product.quantity}}</span></span>
                </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>{{sum() | currency}}</strong>
              </li>
            </ul>
          </div>
      <div class="col-md-8 order-md-1 py-5 border">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" #checkoutForm="ngForm" (submit)="checkout()">
          <div class="mb-3">
            <label for="name">Name</label>
            <div class="input-group">
              <input type="text" class="form-control" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" name="name" placeholder="Name" required [(ngModel)]="checkoutModel.name">
            </div>
            <small class="text-danger" [class.d-none]="name.untouched || name.valid">*Your name is required</small>

          </div>
  
          <div class="mb-3">
            <label for="username">Email</label>
            <div class="input-group">
              <!-- <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div> -->
              <input type="text" class="form-control" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" name="email" placeholder="Email" required [(ngModel)]="checkoutModel.email">
            </div>
            <small class="text-danger" [class.d-none]="email.untouched || email.valid">*Your email is required</small>
          </div>
  
          <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" #address="ngModel" [class.is-invalid]="address.invalid && address.touched" name="address" placeholder="1234 Main St" required [(ngModel)]="checkoutModel.address">
            <small class="text-danger" [class.d-none]="address.untouched || address.valid">*Your address is required</small>

          </div>

  
          <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment or suite" [(ngModel)]="checkoutModel.address2">
          </div>
  
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" #country="ngModel" name="country" required [(ngModel)]="checkoutModel.country">
                <option value="" hidden> Choose...</option>
                <option>United States</option>
              </select>
              <small class="text-danger" [class.d-none]="country.untouched || country.valid">*Your country is required</small>

            </div>

            <div class="col-md-4 mb-3">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" #state="ngModel" name="state" required [(ngModel)]="checkoutModel.state">
                <option value="" hidden>Choose...</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
              </select>
              <small class="text-danger" [class.d-none]="state.untouched || state.valid">*Your state is required</small>

            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" #zip="ngModel" name="zip" placeholder="" required [(ngModel)]="checkoutModel.zip">
              <small class="text-danger" [class.d-none]="zip.untouched || zip.valid">*Your zip code is required</small>

            </div>
          </div>
          <hr class="mb-4">
  
          <h4 class="mb-3">Payment</h4>

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" #cardName="ngModel" name="cardName" placeholder="" required [(ngModel)]="checkoutModel.cardName">
              <small class="text-muted">Full name as displayed on card</small>
              <br>
              <small class="text-danger" [class.d-none]="cardName.untouched || cardName.valid">*Your name is required</small>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Card number</label>
              <input type="text" class="form-control" #cardNumber="ngModel" name="cardNumber" placeholder="" required [(ngModel)]="checkoutModel.cardNumber">
              <small class="text-danger" [class.d-none]="cardNumber.untouched || cardNumber.valid">*Your card number is required</small>

            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" #expirationDate="ngModel" name="expirationDate" placeholder="" required [(ngModel)]="checkoutModel.expirationDate">
              <small class="text-danger" [class.d-none]="expirationDate.untouched || expirationDate.valid">*Your expiration date is required</small>

            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" #securityCode="ngModel" name="securityCode" placeholder="" required [(ngModel)]="checkoutModel.securityCode">
              <small class="text-danger" [class.d-none]="securityCode.untouched || securityCode.valid">*Your security code is required</small>

            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="checkoutForm.invalid">Complete Checkout</button>
        </form>
      </div>
    </div>
  
    <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2017-2020 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.5/examples/checkout/#">Privacy</a></li>
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.5/examples/checkout/#">Terms</a></li>
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.5/examples/checkout/#">Support</a></li>
      </ul>
    </footer> -->
  </div>