 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FBB03E;;">
    <a class="navbar-brand p-0 m-0" routerLink="" id="logo_link">
        <img class="img-responsive" width="100px" height="" src="../../assets/images/sahara.png">
      </a>
      <a class="navbar-brand p-0" href="#">

      <span style="font-family: 'Hurricane', cursive; font-size: xxx-large; color: #F06122;">Sahara</span>
    </a>



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <form class="d-flex ml-auto p-0" style="width: 100%;" (submit)="submit()">
            <input class="form-control mr-0" type="search" id="keyword" name="keyword" placeholder="Search" aria-label="Search" required="true" [(ngModel)]="keyword">
            <button class="btn btn-outline-dark" type="submit" (click)="submit()"><i class="fa fa-search"></i></button>
          </form>
      <ul class="navbar-nav ml-auto" style="max-height: 200px;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" [class.d-none]="true">Profile</a>
              <a class="dropdown-item" href="login" [class.d-none]="isLoggedIn">Login</a>
              <a class="dropdown-item" routerLink="register" [class.d-none]="isLoggedIn">Register</a>
              <a class="dropdown-item" href="#" (click)="logout()" [class.d-none]="!isLoggedIn">Logout</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="orders">Orders</a>
        </li>
      </ul>
    </div>
  </nav>