  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" 
      *ngFor="let product of products; let indexOfElement = index;" 
      [class.active]="indexOfElement==0" 
      [attr.data-slide-to]="indexOfElement"></li>

      <!-- <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
    </ol>
    <h2 class="p-4">New Releases</h2>

    <div class="carousel-inner">
      <!-- <div class="carousel-item active">
        <img src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2022/03/15/Gateway_Quote_A2_03-15.jpg" class="d-block w-100" alt="...">
      </div> -->
      <div class="carousel-item" *ngFor="let product of products; let indexOfElement = index;" [class.active]="indexOfElement==0">
        <!-- <p>{{products[indexOfElement] | json}}</p> -->
        <div class="row justify-content-around">
          <div class="col-sm-2">
            <div class="card">
              <img src="{{products[(((5*indexOfElement)-2) % products.length +products.length) % products.length].imageUrl}}" class="card-img-top" alt="products[(((5*indexOfElement)-2) % products.length +products.length) % products.length].title">
              <div class="card-body">
                <h5 class="card-title">{{products[(((5*indexOfElement)-2) % products.length +products.length) % products.length].title}}</h5>
                <p class="card-text">By {{products[(((5*indexOfElement)-2) % products.length +products.length) % products.length].creator}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card">
              <img src="{{products[(((5*indexOfElement)-1) % products.length +products.length) % products.length].imageUrl}}" class="card-img-top" alt="products[(((5*indexOfElement)-1) % products.length +products.length) % products.length].title">
              <div class="card-body">
                <h5 class="card-title">{{products[(((5*indexOfElement)-1) % products.length +products.length) % products.length].title}}</h5>
                <p class="card-text">By {{products[(((5*indexOfElement)-1) % products.length +products.length) % products.length].creator}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card">
              <img src="{{products[(((5*indexOfElement)) % products.length +products.length) % products.length].imageUrl}}" class="card-img-top" alt="products[(((5*indexOfElement)) % products.length +products.length) % products.length].title">
              <div class="card-body">
                <h5 class="card-title">{{products[(((5*indexOfElement)) % products.length +products.length) % products.length].title}}</h5>
                <p class="card-text">By {{products[(((5*indexOfElement)) % products.length +products.length) % products.length].creator}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card">
              <img src="{{products[(((5*indexOfElement)+1) % products.length +products.length) % products.length].imageUrl}}" class="card-img-top" alt="products[(((5*indexOfElement)+1) % products.length +products.length) % products.length].title">
              <div class="card-body">
                <h5 class="card-title">{{products[(((5*indexOfElement)+1) % products.length +products.length) % products.length].title}}</h5>
                <p class="card-text">By {{products[(((5*indexOfElement)+1) % products.length +products.length) % products.length].creator}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card">
              <img src="{{products[(((6*indexOfElement)+2) % products.length +products.length) % products.length].imageUrl}}" class="card-img-top" alt="products[(((5*indexOfElement)+2) % products.length +products.length) % products.length].title">
              <div class="card-body">
                <h5 class="card-title">{{products[(((5*indexOfElement)+2) % products.length +products.length) % products.length].title}}</h5>
                <p class="card-text">By {{products[(((5*indexOfElement)+2) % products.length +products.length) % products.length].creator}}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <img src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2022/03/15/Gateway_Quote_A3_03-15.jpg" class="d-block w-100" alt="..."> -->
      </div>
    </div>
    <button class="carousel-control-prev bg-transparent border-0" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
      <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next bg-transparent border-0" type="button" data-target="#carouselExampleIndicators" data-slide="next">
      <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>